﻿@model AiReviews.Models.Actor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Actor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActorFname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorFname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActorSname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorSname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActorDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActorDateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorDateOfBirth)
        </dd>

        <dt>
            @if (Model.ActorImage != null)
            {
                <img src="@Url.Content(Model.ActorImage)" width="100"/>
            }
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorImage)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
