﻿@*
    Send a collection of the ActorFilmListViewModel
    Allowing the view to access the properties of the ViewModel
*@
@model IEnumerable<AiReviews.Models.ViewModels.ActorFilmListViewModel>

@* Default: Send a collection of the ActorFilm type *@
@* @model AiReviews.Models.Actor *@

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="dl-horizontal">
        @*
            What the fuck, I'm pretty sure FirstOrDefault() should be on the DisplayNameFor
            But this works
        *@
        <dt>
            @Html.DisplayNameFor(model => model.Actor.ActorFname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().Actor.ActorFname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actor.ActorSname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().Actor.ActorSname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actor.ActorDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().Actor.ActorDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actor.ActorDateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().Actor.ActorDateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actor.ActorImage)
        </dt>

        <dd>
            @if (Model.FirstOrDefault().Actor.ActorImage != null)
            {
                <img src="@Url.Content(Model.FirstOrDefault().Actor.ActorImage)" width="100" />
            }
        </dd>


    </dl>
</div>
<p>
    @*z => z.FilmId == i.FilmId).Single()z => z.FilmId == i.FilmId).Single()
        Submit to
        2: Add ActorFilm (Actor) route
        Places clickable link on the page which links to the custom Route in RouteConfig.cs
        This, essentially, pre-selects the Film in the "Movie Selection" dropdown
    *@
    @Html.ActionLink(
        "Add Acting Credit",
        "Create",
        "ActorFilms",
        new
        {
            subName = "Actor",
            Model.FirstOrDefault().Actor.ActorId
        },

        null
        ) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.FirstOrDefault().Actor.ActorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<h4>Featured in films:</h4>
<table class="table">
    <tr>
        <th>
            Film Name
        </th>
        <th>
            Film Genre
        </th>
        <th>
            Film Icon
        </th>
    </tr>
    @{
        // Keep track of whether or not any results were displayed
        bool atLeastOneResult = false;
        // Only loop through the Model if the ViewBag returned that they starred in at least one movie
        if (ViewBag.ActorStarredInAtLeastOneMovie)
        {
            foreach (var property in ViewData.Model)
            {
                if (property.Film.FilmId == property.ActorFilmCredit.FilmId)
                {
                    // Update this shit so it doesn't display "no films"
                    atLeastOneResult = true;
                    <tr>
                        @* Make each film name be a link to said films details page *@
                        <td>
                            @Html.ActionLink(property.Film.FilmName, "../Films/Details", new { id = property.Film.FilmId })
                        </td>

                        <td>
                            @property.Film.FilmGenre
                        </td>

                        <td>
                            @if (property.Film.FilmIcon != null)
                            {
                                <img src="@Url.Content(property.Film.FilmIcon)" width="100" />
                            }
                        </td>

                    </tr>
                }
                else
                {
                    <tr>>asdfffffffffffffffffffffffffffff</tr>
                }
            }
        }

        // If no result was displayed
        if (!atLeastOneResult)
        {
            <tr>Not directed any films</tr>
        }
    }
</table>