﻿@model AiReviews.Models.DirectorFilm

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DirectorFilm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @* XXX: I don't know why "MovieID" is used here *@
            <label class="control-label col-md-2" for="MovieID">Movie Selection</label>
            <div class="col-md-10">
                @* Take the FilmId SelectList object we created in DirectorFilmsController *@
                @Html.DropDownList("FilmId")
                @Html.ValidationMessageFor(model => model.FilmId, "", new{ @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @* XXX: Is DirectorID supposed to be DirectorId or DirectorID ??? *@
            <label class="control-label col-md-2" for="DirectorID">Director Selection</label>
            <div class="col-md-10">
                @* Take the DirectorId SelectList object we created in DirectorFilmsController *@
                @Html.DropDownList("DirectorId")
                @Html.ValidationMessageFor(model => model.DirectorId, "", new{ @class = "text-danger" })
            </div>
        </div>
        @* <div class="form-group">
            @Html.LabelFor(model => model.DirectorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DirectorId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DirectorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FilmId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FilmId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FilmId, "", new { @class = "text-danger" })
            </div>
        </div> *@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
