﻿@model AiReviews.Models.DirectorFilm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DirectorFilm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DirectorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DirectorFilmId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
