﻿@* 
Send a collection of the DirectorFilmListViewModel
Allowing the view to access the properties of the ViewModel
*@
@model IEnumerable<AiReviews.Models.ViewModels.DirectorFilmListViewModel>

@* Default: Send a collection of the DirectorFilm type *@
@* @model IEnumerable<AiReviews.Models.DirectorFilm> *@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @* <th>
            @Html.DisplayNameFor(model => model.DirectorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmId)
        </th> *@
        <th>
            @Html.DisplayNameFor(model => model.Film.FilmName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Film.FilmIcon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director.DirectorFname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director.DirectorSname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director.DirectorImage)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {

    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.Film.FilmName)
        </th>
        <th>
            @if (item.Film.FilmIcon != null)
            {
                <img src="@Url.Content(item.Film.FilmIcon)" width="100"/>
            }
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Director.DirectorFname)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Director.DirectorSname)
        </th>
        <th>
            @if (item.Director.DirectorImage != null)
            {
                <img src="@Url.Content(item.Director.DirectorImage)" width="100"/>
            }
        </th>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.DirectorFilmCredit.DirectorFilmId })
            @Html.ActionLink("Delete", "Delete", new { id = item.DirectorFilmCredit.DirectorFilmId })
        </td>
    </tr>

    @* <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DirectorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DirectorFilmId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DirectorFilmId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DirectorFilmId })
        </td>
    </tr> *@
}

</table>
