﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>"Your application description page" goes here, or something like that. Copy and Paste</h3>

<p>Here is some stuff that may or may not break; these aren't pages that will be accessed by "public" and do not handle stuff properly yet.</p>
<p>ActorFilms and DirectorFilms will throw errors if there are no Actors or Directors respectively.</p>
<p><a href="/ActorFilms/" class="btn btn-primary btn-lg">ActorFilms</a></p>
<p><a href="/DirectorFilms/" class="btn btn-primary btn-lg">DirectorFilms</a></p>

