﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Temporary Contact Details</h3>

<address>
    Neutral Network<br />
    Pinnacle Ridge, AMD64 B2<br />
    YD270XBG
</address>

<address>
    <strong>Discord:</strong>   <a href="https://discord.com">adi769#6854</a><br />
    <strong>Website:</strong> <a href="https://ocweb.co.uk">ocweb.co.uk</a>
</address>