﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AiReviews</h1>
    <p class="lead">AiReviews is a functionality-focused film review site project that allows users to freely comment and review films.</p>
    <p>Each reviewer can use a nick and account features will be implemented outside of the scope of this project timezone.</p>
    <p>Eventually, a convolutional neural network will be implemented to learn from each films' reviews to generate an intriguing blurb for top-rating films on the Home page.</p>
    <a href="/" class="btn btn-primary btn-lg">Recursion?</a>
    <a href="https://www.youtube.com/watch?v=py5byOOHZM8" class="btn btn-primary btn-lg">Buzz words! &raquo;</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Films</h2>
        <p>
            Herein lay films. Things you watch. Go watch them - we don't host them, something about bandwidth and copyright issues.
        </p>
        <p><a class="btn btn-default" href="/Films/">Films</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reviews</h2>
        <p>
            Check out user-posted reviews here, post your own, and filter however you like.
        </p>
        <p><a class="btn btn-default" href="/Reviews/">Reviews</a></p>
    </div>
    <div class="col-md-4">
        <h2>Work In Project</h2>
        <p>Totally working work-in-process project.</p>
        <p><a class="btn btn-default" href="https://gitlab.com/web-tech-degree/year4-term2-dynamic-web">Git Gud &raquo;</a></p>
    </div>
</div>