﻿@model AiReviews.Models.Review

@{
    ViewBag.Title = "Create";
}
@*
JavaScript to render the barrating Stars; on ready,
apply the plugin to elements with class Stars
*@
<script type="text/javascript">
$(document).ready(function() {
    
    $('.Stars').barrating({
        theme: 'fontawesome-stars'
    });
    
});
</script>
<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Review</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FilmId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @* Holds the FilmId so that it can be posted, without displaying it to the user *@
                <input type="hidden" name="FilmId" value="@ViewBag.FilmId"/>
                @ViewBag.FilmName
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReviewReviewerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReviewReviewerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReviewReviewerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReviewContent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReviewContent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReviewContent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReviewStars, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @* Dropdown choice of selection 1-5 *@
                <select class="Stars" name="ReviewStars">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                @Html.ValidationMessageFor(model => model.ReviewStars, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
