﻿@model AiReviews.Models.ViewModels.FilmReviewViewModel

@{
    ViewBag.Title = "Details";
}
@*
JavaScript to render the barrating Stars; on ready,
apply the plugin to elements with class Stars
*@
<script type="text/javascript">
$(document).ready(function() {

    // For each of the Star dropdowns
    $('.Stars').each(function() {
        // Get the value of the id from the hidden field next to it
        let selectId = $(this).next().val();
        // Now apply this as the selected id to the current dropdown box
        $(this).val(selectId);
    });

    // Now apply the plugin and set to readonly
    $('.Stars').barrating({
        theme: 'fontawesome-stars',
        readonly: true
    });
    
});
</script>
<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Film.FilmName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Film.FilmName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Review.ReviewReviewerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Review.ReviewReviewerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Review.ReviewContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Review.ReviewContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Review.ReviewStars)
        </dt>

        <dd>
            <select class="Stars">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="hidden" class="initialRating" value="@Model.Review.ReviewStars"/>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Go to Film", "Details", "Films",
        new { id = Model.Review.FilmId }, null) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Review.ReviewId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
