﻿@model AiReviews.Models.Review

@{
    ViewBag.Title = "Edit";
}
@*
JavaScript to render the barrating Stars; on ready,
apply the plugin to elements with class Stars
*@
<script type="text/javascript">
$(document).ready(function() {

    // For each of the Star dropdowns
    $('.Stars').each(function() {
        // Get the value of the id from the hidden field next to it
        let selectId = $(this).next().val();
        // Now apply this as the selected id to the current dropdown box
        $(this).val(selectId);
    });

    // Now apply the plugin
    $('.Stars').barrating({
        theme: 'fontawesome-stars',
    });
    
});
</script>
<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Review</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ReviewId)

        <div class="form-group">
            @Html.LabelFor(model => model.FilmId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="hidden" name="FilmId" value="@ViewBag.FilmId"/>
                @ViewBag.FilmName
            </div>
            @* <div class="col-md-10">
                @Html.EditorFor(model => model.FilmId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FilmId, "", new { @class = "text-danger" })
            </div> *@
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReviewReviewerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReviewReviewerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReviewReviewerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReviewContent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReviewContent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReviewContent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReviewStars, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @* Dropdown choice of selection 1-5 *@
                <select class="Stars" name="ReviewStars">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                
                <input type="hidden" class="initialRating" value="@Model.ReviewStars"/>

                @Html.ValidationMessageFor(model => model.ReviewStars, "", new { @class = "text-danger" })
            </div>
            @* <div class="col-md-10">
                @Html.EditorFor(model => model.ReviewStars, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReviewStars, "", new { @class = "text-danger" })
            </div> *@
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
