﻿@* Converts the model to use the IPagedList interface *@
@model PagedList.IPagedList<AiReviews.Models.ViewModels.FilmReviewViewModel>
@using PagedList.Mvc
<link href="~Content/PagedList.css" rel="stylesheet" type="text/css">

@* Old connection *@
@*@model IEnumerable<AiReviews.Models.ViewModels.FilmReviewViewModel>*@

@{
    ViewBag.Title = "Index";
}
@*
    JavaScript to render the barrating Stars; on ready,
    apply the plugin to elements with class Stars
*@
<script type="text/javascript">
    $(document).ready(function () {
        ajaxAutoCompleteSearch('/Reviews', 'searchFilmName');
        ajaxAutoCompleteSearch('/Reviews', 'searchReviewerName');
        // For each of the Star dropdowns
        $('.Stars').each(function () {
            // Get the value of the id from the hidden field next to it
            let selectId = $(this).next().val();
            // Now apply this as the selected id to the current dropdown box
            $(this).val(selectId);
        });

        // Now apply the plugin and set to readonly
        $('.Stars').barrating({
            theme: 'fontawesome-stars',
            readonly: true
        });

        // Triggers the autocomplete function
        ajaxAutoCompleteSearch('/Actors');
    });
</script>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @Html.ActionLink("Reset Search", "")
</p>

@*
    Create a textbox with an input form that submits to the controller
    submit value Search with the searchString variable/value
    Make sure the GET method is always used
    Set CurrentFilter value in ViewBag to retain the current search term
    // -----------------------------------------------------------------------------
    // The autocompletion of this is handled by ajaxAutoCompleteSearch(); in JS
    // -----------------------------------------------------------------------------
*@
<div>
    @using (Html.BeginForm("Index", "Reviews", FormMethod.Get))
    {
        <p>
            Search Film: @Html.TextBox("searchFilmName", ViewBag.CurrentFilterFilmName as string)
            <input type="submit" value="Search" />
            <input type="hidden" name="currentFilterFilmName" value="@ViewBag.CurrentFilterFilmName" />
            <input type="hidden" name="currentFilterReviewerName" value="@ViewBag.CurrentFilterReviewerName" />
        </p>
    }

    @using (Html.BeginForm("Index", "Reviews", FormMethod.Get))
    {
        <p>
            Search Reviewer: @Html.TextBox("searchReviewerName", ViewBag.CurrentFilterReviewerName as string)
            <input type="submit" value="Search" />
            <input type="hidden" name="currentFilterFilmName" value="@ViewBag.CurrentFilterFilmName" />
            <input type="hidden" name="currentFilterReviewerName" value="@ViewBag.CurrentFilterReviewerName" />
        </p>
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Film Name", "Index", new
           {
               LastSort = ViewBag.LastSort,
               currentFilterFilmName = ViewBag.CurrentFilterFilmName,
                currentFilterReviewerName = ViewBag.CurrentFilterReviewerName,
               clickedSort = "filmName"
           })
        </th>
        <th>
            @Html.ActionLink("Reviewer Name", "Index", new
           {
               LastSort = ViewBag.LastSort,
               currentFilterFilmName = ViewBag.CurrentFilterFilmName,
                currentFilterReviewerName = ViewBag.CurrentFilterReviewerName,
               clickedSort = "reviewerName"
           })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Review.ReviewContent)
        </th>
        <th>
            @Html.ActionLink("Rating", "Index", new
           {
               LastSort = ViewBag.LastSort,
               currentFilterFilmName = ViewBag.CurrentFilterFilmName,
                currentFilterReviewerName = ViewBag.CurrentFilterReviewerName,
               clickedSort = "reviewRating"
           })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Film.FilmName, "../Films/Details", new { id = item.Film.FilmId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review.ReviewReviewerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review.ReviewContent)
            </td>
            <td>
                @* Old number star display *@
                @* @Html.DisplayFor(modelItem => item.Review.ReviewStars) *@
                @* Star number display *@
                <select class="Stars">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <input type="hidden" class="initialRating" value="@item.Review.ReviewStars" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Review.ReviewId }) |
                @Html.ActionLink("Details", "Details", new { id = item.Review.ReviewId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Review.ReviewId })
            </td>
        </tr>
    }

</table>
@*
    "Page" and "of" are HTML

    Using condition operator / ternary operator:
        If PageCount is smaller than PageNumber:
            return "0" into HTML
        Else:
            Return PageNumber "of" PageCount
*@
Page @(Model.PageCount < Model.PageNumber ?
    0 :
    Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))