﻿@*
    Send a collection of the ActorFilmListViewModel
    Allowing the view to access the properties of the ViewModel
*@
@model IEnumerable<AiReviews.Models.ViewModels.DirectorFilmListViewModel>

@* Default: Send a collection of the ActorFilm type *@
@* @model AiReviews.Models.Director *@

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Director</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Director.DirectorFname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().Director.DirectorFname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director.DirectorSname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().Director.DirectorSname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director.DirectorDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().Director.DirectorDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director.DirectorDateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().Director.DirectorDateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Director.DirectorImage)
        </dt>

        <dd>
            @if (Model.FirstOrDefault().Director.DirectorImage != null)
            {
                <img src="@Url.Content(Model.FirstOrDefault().Director.DirectorImage)" width="100" />
            }
        </dd>

    </dl>
</div>
<p>
    @*z => z.FilmId == i.FilmId).Single()z => z.FilmId == i.FilmId).Single()
        Submit to
        2: Add ActorFilm (Actor) route
        Places clickable link on the page which links to the custom Route in RouteConfig.cs
        This, essentially, pre-selects the Film in the "Movie Selection" dropdown
    *@
    @Html.ActionLink(
        "Add Directing Credit",
        "Create",
        "DirectorFilms",
        new
        {
            subName = "Director",
            Model.FirstOrDefault().Director.DirectorId
        },

        null
        ) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.FirstOrDefault().Director.DirectorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<hr />

<h4>Directed films:</h4>
<table class="table">
    <tr>
        <th>
            Film Name
        </th>
        <th>
            Film Genre
        </th>
        <th>
            Film Icon
        </th>
    </tr>
    @{
        // Keep track of whether or not any results were displayed
        bool atLeastOneResult = false;
        // Only loop through the Model if the ViewBag returned that they starred in at least one movie
        if (ViewBag.DirectorDirectedAtleastOneMovie)
        {
            foreach (var property in ViewData.Model)
            {
                if (property.Film.FilmId == property.DirectorFilmCredit.FilmId)
                {
                    // Update this shit so it doesn't display "no films"
                    atLeastOneResult = true;
                    <tr>
                        @* Make each film name be a link to said films details page *@
                        <td>
                            @Html.ActionLink(property.Film.FilmName, "../Films/Details", new { id = property.Film.FilmId })
                        </td>

                        <td>
                            @property.Film.FilmGenre
                        </td>

                        <td>
                            @if (property.Film.FilmIcon != null)
                            {
                                <img src="@Url.Content(property.Film.FilmIcon)" width="100" />
                            }
                        </td>

                    </tr>
                }
                else
                {
                    <tr>>asdfffffffffffffffffffffffffffff</tr>
                }
            }
        }

        // If no result was displayed
        if (!atLeastOneResult)
        {
            <tr>Not directed any films</tr>
        }
    }
</table>