﻿@* Converts the model to use the IPagedList interface *@
@model PagedList.IPagedList<AiReviews.Models.Director>
@using PagedList.Mvc
<link href="~Content/PagedList.css" rel="stylesheet" type="text/css">

@* Old connection *@
@* @model IEnumerable<AiReviews.Models.Director> *@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @Html.ActionLink("Reset Search", "")
</p>
@*
    Create a textbox with an input form that submits to the controller
    submit value Search with the searchString variable/value
    Make sure the GET method is always used
    Set CurrentFilter value in ViewBag to retain the current search term
    // -----------------------------------------------------------------------------
    // The autocompletion of this is handled by ajaxAutoCompleteSearch(); in JS
    // -----------------------------------------------------------------------------
*@

<script type="text/javascript">
    // Run once document is ready
    $(document).ready(() => {
        // Triggers the autocomplete function
        ajaxAutoCompleteSearch('/Directors', 'searchName');
    });
</script>

@using (Html.BeginForm("Index", "Directors", FormMethod.Get))
{
    <p>
        Search Name: @Html.TextBox("searchName", ViewBag.CurrentName as string)
        <input type="submit" value="Search" />
    </p>
}


<table class="table">
    <tr>
        @* In every of these sort action links, pass in the "current" sort order and the clicked sort order *@
        <th>
            @Html.ActionLink("First Name", "Index", new
            {
                LastSort = ViewBag.LastSort,
                currentFilter = ViewBag.CurrentFilter,
                clickedSort = "firstName"
            })
        </th>
        <th>
            @Html.ActionLink("Surname", "Index", new
            {
                LastSort = ViewBag.LastSort,
                currentFilter = ViewBag.CurrentFilter,
                clickedSort = "lastName"
            })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DirectorDesc)
        </th>
        <th>
            @Html.ActionLink("Birth Date", "Index", new
            {
                LastSort = ViewBag.LastSort,
                currentFilter = ViewBag.CurrentFilter,
                clickedSort = "birthDate"
            })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DirectorImage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DirectorFname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectorSname)
            </td>
            <td>
                @* Display the trimmed description instead of the full one *@
                @Html.DisplayFor(modelItem => item.DirectorDescTrimmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectorDateOfBirth)
            </td>
            <td>
                @if (item.DirectorImage != null)
                {
                    <img src="@Url.Content(item.DirectorImage)" width="100" />
                }
                @* @Html.DisplayFor(modelItem => item.DirectorImage) *@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DirectorId }) |
                @Html.ActionLink("Details", "Details", new { id = item.DirectorId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DirectorId })
            </td>
        </tr>
    }

</table>
<br>
@*
    "Page" and "of" are HTML

    Using condition operator / ternary operator:
        If PageCount is smaller than PageNumber:
            return "0" into HTML
        Else:
            Return PageNumber "of" PageCount
*@
Page @(Model.PageCount < Model.PageNumber ?
    0 :
    Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))