﻿@model AiReviews.Models.Film

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Film</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FilmName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmGenre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmGenre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmIcon)
        </dt>

        <dd>
            @* If FilmIcon is not null, display the image *@
            @if (Model.FilmIcon != null)
            {
                <img src="@Url.Content(Model.FilmIcon)" width="100"/>
            }
            @* @Html.DisplayFor(model => model.FilmIcon) *@
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
