﻿@model AiReviews.Models.ViewModels.FilmPageViewModel

@* Old *@
@* @model AiReviews.Models.Film *@

@{
    ViewBag.Title = "Details";
}
<script type="text/javascript">
    $(document).ready(function () {

        // For each of the Star dropdowns
        $('.Stars').each(function () {
            // Get the value of the id from the hidden field next to it
            let selectId = $(this).next().val();
            // Now apply this as the selected id to the current dropdown box
            $(this).val(selectId);
        });

        // Now apply the plugin and set to readonly
        $('.Stars').barrating({
            theme: 'fontawesome-stars',
            readonly: true
        });

    });
</script>
<h2>Details</h2>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Film.FilmName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Film.FilmName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Film.FilmGenre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Film.FilmGenre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Film.FilmDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Film.FilmDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Film.FilmReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Film.FilmReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Film.FilmIcon)
        </dt>

        <dd>
            @* If FilmIcon is not null, display the image *@
            @if (Model.Film.FilmIcon != null)
            {
                <img src="@Url.Content(Model.Film.FilmIcon)" width="100" />
            }
            @* @Html.DisplayFor(model => model.FilmIcon) *@
        </dd>

        @* Display the average review *@
        <dt>
            Rating:
            <p>(Rounded down due to Font Awesome)</p>
        </dt>

        <dd>
            <select class="Stars">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            @* FIXME: This breaks with decimals. Either round down or get the fractal thing to work *@
            <input type="hidden" class="initialRating" value="@ViewBag.AverageReview" />

    </dl>
</div>



<p>
    @*
        Submit to
        1: Add Actor (Film) route
        Places clickable link on the page which links to the custom Route in RouteConfig.cs
        This, essentially, pre-selects the Film in the "Movie Selection" dropdown
    *@
    @Html.ActionLink("Add Director", "Create", "DirectorFilms",
        new { subName = "Film", Model.Film.FilmId }, null) |


    @Html.ActionLink("Add Actor", "Create", "ActorFilms",
        new { subName = "Film", Model.Film.FilmId }, null) |


    @* Add Review button; sends the id to the Create View for Reviews *@
    @Html.ActionLink("Add Review", "Create", "Reviews",
        new { id = Model.Film.FilmId }, null) |

    @Html.ActionLink("Edit", "Edit", new { id = Model.Film.FilmId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<hr />
<hr />

<div>
    <h4>Directors</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Directors.FirstOrDefault().DirectorFname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Directors.FirstOrDefault().DirectorSname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Directors.FirstOrDefault().DirectorDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Directors.FirstOrDefault().DirectorDateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Directors.FirstOrDefault().DirectorImage)
            </th>
        </tr>
        @{
            bool zeroDirectors = true;

            foreach (var director in Model.Directors)
            {
                zeroDirectors = false;
                <tr>
                    <td>
                        @Html.ActionLink(director.DirectorFname, "../Directors/Details", new { id = director.DirectorId })
                    </td>

                    <td>
                        @Html.ActionLink(director.DirectorSname, "../Directors/Details", new { id = director.DirectorId })
                    </td>

                    <td>
                        @Html.DisplayFor(model => director.DirectorDesc)
                    </td>

                    <td>
                        @Html.DisplayFor(model => director.DirectorDateOfBirth)
                    </td>

                    <td>
                        @if (director.DirectorImage != null)
                        {
                            <img src="@Url.Content(director.DirectorImage)" width="100" />
                        }
                    </td>
                </tr>
            }
            if (zeroDirectors)
            {
                <tr>No directors</tr>
            }
        }
    </table>
</div>

<hr />
<hr />

<div>
    <h4>Actors</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Actors.FirstOrDefault().ActorFname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actors.FirstOrDefault().ActorSname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actors.FirstOrDefault().ActorDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actors.FirstOrDefault().ActorDateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actors.FirstOrDefault().ActorImage)
            </th>
        </tr>
        @{
            bool zeroActors = true;

            foreach (var actor in Model.Actors)
            {
                zeroActors = false;
                <tr>
                    <td>
                        @Html.ActionLink(actor.ActorFname, "../Actors/Details", new { id = actor.ActorId })
                    </td>

                    <td>
                        @Html.ActionLink(actor.ActorSname, "../Actors/Details", new { id = actor.ActorId })
                    </td>

                    <td>
                        @Html.DisplayFor(model => actor.ActorDesc)
                    </td>

                    <td>
                        @Html.DisplayFor(model => actor.ActorDateOfBirth)
                    </td>

                    <td>
                        @if (actor.ActorImage != null)
                        {
                            <img src="@Url.Content(actor.ActorImage)" width="100" />
                        }
                    </td>
                </tr>
            }
            if (zeroActors)
            {
                <tr>No actors</tr>
            }
        }
    </table>
</div>

<hr />
<hr />

<div>
    <h4>Reviews</h4>
    <hr />
    @*
        For ever review:
            Display review:
                ReviewStars, ReviewReviewerName,ReviewContentTrimmed
            Display links:
                Full Review, Edit Review, All Reviews
    *@
    @{
        bool zeroReviews = true;

        foreach (var review in Model.Reviews)
        {
            zeroReviews = false;
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => review.ReviewStars)
                </dt>

                <dd>
                    <select class="Stars">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <input type="hidden" class="initialRating" value="@review.ReviewStars" />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => review.ReviewReviewerName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => review.ReviewReviewerName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => review.ReviewContent)
                </dt>

                <dd>
                    @Html.DisplayFor(model => review.ReviewContentTrimmed)
                </dd>
            </dl>

            @* Links for each review*@
            <p>
                @Html.ActionLink("Full Review", "Details", "Reviews", new { id = review.ReviewId }, "") |
                @Html.ActionLink("Edit Review", "Edit", "Reviews", new { id = review.ReviewId }, null) |
                @Html.ActionLink("All Reviews", "Index", "Reviews")
            </p>
        }
        if (zeroReviews)
        {
            <h5>No reviews published yet</h5>
        }
    }
</div>