﻿@* Converts the model to use the IPagedList interface *@
@model PagedList.IPagedList<AiReviews.Models.Film>
@using PagedList.Mvc
<link href="~Content/PagedList.css" rel="stylesheet" type="text/css">




@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @Html.ActionLink("Reset Search", "")
</p>

@*
    Create a textbox with an input form that submits to the controller
    submit value Search with the searchString variable/value
    Make sure the GET method is always used
    Set CurrentFilter value in ViewBag to retain the current search term
    // -----------------------------------------------------------------------------
    // The autocompletion of this is handled by ajaxAutoCompleteSearch(); in JS
    // -----------------------------------------------------------------------------
*@

<script type="text/javascript">
    // Run once document is ready
    $(document).ready(() => {
        // Triggers the autocomplete function, once for searchName and once for searchGenre
        ajaxAutoCompleteSearch('/Films', 'searchFilmName');
        ajaxAutoCompleteSearch('/Films', 'searchFilmGenre');
        userSelectedFilmGenre();
    });
    // Listen for changes to the genre film selection dropdown
    const userSelectedFilmGenre = () => {
        $("#searchFilmGenre").on("change", function () {
            $("form").submit();
        });
    }
</script>

<div>
    @using (Html.BeginForm("Index", "Films", FormMethod.Get)) {
        <p>
            Search Name: @Html.TextBox("searchFilmName", ViewBag.CurrentFilterFilmName as string)
            <input type="submit" value="Search" />
            <input type="hidden" name="currentFilterFilmName" value="@ViewBag.CurrentFilterFilmName" />
            <input type="hidden" name="currentFilterFilmGenre" value="@ViewBag.CurrentFilterFilmGenre" />
        </p>
    }

    @*Dropdown list instead of search menu*@
    @using (Html.BeginForm("Index", "Films", FormMethod.Get))
    {
        <p>
            Select Genre @Html.DropDownList("searchFilmGenre")
            <input type="hidden" name="currentFilterFilmName" value="@ViewBag.CurrentFilterFilmName" />
            <input type="hidden" name="currentFilterFilmGenre" value="@ViewBag.CurrentFilterFilmGenre" />
        </p>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Film Name", "Index", new
            {
                LastSort = ViewBag.LastSort,
                currentFilterFilmName = ViewBag.CurrentFilterFilmName,
                currentFilterFilmGenre = ViewBag.CurrentFilterFilmGenre,
                clickedSort = "filmName"
            })
        </th>
        <th>
            @Html.ActionLink("Genre", "Index", new
            {
                LastSort = ViewBag.LastSort,
                currentFilterFilmName = ViewBag.CurrentFilterFilmName,
                currentFilterFilmGenre = ViewBag.CurrentFilterFilmGenre,
                clickedSort = "filmGenre"
            })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FilmDesc)
        </th>
        <th>
            @Html.ActionLink("Release Date", "Index", new
             {
                 LastSort = ViewBag.LastSort,
                 currentFilterFilmName = ViewBag.CurrentFilterFilmName,
                currentFilterFilmGenre = ViewBag.CurrentFilterFilmGenre,
                 clickedSort = "filmReleaseDate"
             })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FilmIcon)
        </th>
        <th></th>
    </tr>

    @* Iterates over everything in the "Model" *@
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FilmName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmGenre)
            </td>
            @* Display the trimmed description *@
            <td>
                @Html.DisplayFor(modelItem => item.FilmDescTrimmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmReleaseDate)
            </td>
            <td>
                @* If FilmIcon is not null, display the image *@
                @if (item.FilmIcon != null)
                {
                    <img src="@Url.Content(item.FilmIcon)" width="100" />
                }
                @* @Html.DisplayFor(modelItem => item.FilmIcon) *@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FilmId }) |
                @Html.ActionLink("Details", "Details", new { id = item.FilmId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FilmId })
            </td>
        </tr>
    }

</table>
<br>
@*
    "Page" and "of" are HTML

    Using condition operator / ternary operator:
        If PageCount is smaller than PageNumber:
            return "0" into HTML
        Else:
            Return PageNumber "of" PageCount
*@
Page @(Model.PageCount < Model.PageNumber ?
    0 :
    Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentSearch = ViewBag.CurrentSearch }))