﻿@model AiReviews.Models.ActorFilm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ActorFilm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActorFilmId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
