﻿@model AiReviews.Models.ActorFilm

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ActorFilm</h4>
        <hr />
        @* XXX: Potential duplicate ValidationSummary ??? *@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ActorFilmId)

        @* @Html.ValidationSummary(true, "", new { @class = "text-danger" }) *@
        <div class="form-group">
            @* XXX: I don't know why "MovieID" is used here *@
            <label class="control-label col-md-2" for="MovieID">Movie Selection</label>
            <div class="col-md-10">
                @* Take the FilmId SelectList object we created in ActorFilmsController *@
                @Html.DropDownList("FilmId")
                @Html.ValidationMessageFor(model => model.FilmId, "", new{ @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @* XXX: Is ActorID supposed to be ActorId or ActorID ??? *@
            <label class="control-label col-md-2" for="ActorID">Actor Selection</label>
            <div class="col-md-10">
                @* Take the ActorId SelectList object we created in ActorFilmsController *@
                @Html.DropDownList("ActorId")
                @Html.ValidationMessageFor(model => model.ActorId, "", new{ @class = "text-danger" })
            </div>
        </div>
        @* <div class="form-group">
            @Html.LabelFor(model => model.ActorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ActorId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ActorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FilmId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FilmId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FilmId, "", new { @class = "text-danger" })
            </div>
        </div> *@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
