﻿@* 
Send a collection of the ActorFilmListViewModel
Allowing the view to access the properties of the ViewModel
*@
@model IEnumerable<AiReviews.Models.ViewModels.ActorFilmListViewModel>

@* Default: Send a collection of the ActorFilm type *@
@* @model IEnumerable<AiReviews.Models.ActorFilm> *@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @* <th>
            @Html.DisplayNameFor(model => model.ActorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmId)
        </th> *@
        <th>
            @Html.DisplayNameFor(model => model.Film.FilmName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Film.FilmIcon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actor.ActorFname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actor.ActorSname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actor.ActorImage)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {

    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.Film.FilmName)
        </th>
        <th>
            @if (item.Film.FilmIcon != null)
            {
                <img src="@Url.Content(item.Film.FilmIcon)" width="100"/>
            }
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Actor.ActorFname)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Actor.ActorSname)
        </th>
        <th>
            @if (item.Actor.ActorImage != null)
            {
                <img src="@Url.Content(item.Actor.ActorImage)" width="100"/>
            }
        </th>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ActorFilmCredit.ActorFilmId })
            @Html.ActionLink("Delete", "Delete", new { id = item.ActorFilmCredit.ActorFilmId })
        </td>
    </tr>

    @* <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ActorFilmId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ActorFilmId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ActorFilmId })
        </td>
    </tr> *@
}

</table>
