﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AiReviews</title>
    @*
    // =========================================================================
    //  Load CSS and JS 
    // =========================================================================
    *@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    @* Barrating Stars script *@
    @Styles.Render("~/Content/font-awesome.min.css")

    @Styles.Render("~/Scripts/Stars/themes/fontawesome-stars.css")
    @Styles.Render("~/Scripts/Stars/themes/fontawesome-stars-o.css")
    @Scripts.Render("~/Scripts/Stars/jquery.barrating.min.js")

    @* jQuery UI for autocomplete *@
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1/jquery-ui.min.js")
    @Styles.Render("~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css")

    @* My Script *@
    @Scripts.Render("~/Scripts/airiScript.js")
    
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AiReviews", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @* Links in the navigation bar *@
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Films", "Index", "Films")</li>
                    <li>@Html.ActionLink("Reviews", "Index", "Reviews")</li>
                    <li>@Html.ActionLink("Actors", "Index", "Actors")</li>
                    <li>@Html.ActionLink("Directors", "Index", "Directors")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - @DateTime.Now.Year - Adrian</p>
        </footer>
    </div>

    
</body>
</html>
